.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin-right: 8px;
}
.button:last-child {
  margin: 0;
}
.button .label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;
  text-wrap: nowrap;
  padding: 0 4px;
}
.button.default {
  border-radius: 4px;
  border: 1px solid var(--rgb-gray-9);
  background-color: var(--rgb-gray-10);
}
.button.default:hover {
  background-color: var(--rgb-gray-9);
  border-color: var(--rgb-gray-8);
}
.button.default:active {
  background-color: var(--rgb-gray-8);
  border-color: var(--rgb-gray-7);
}
.button.default .label {
  color: var(--rgb-gray-4);
}
.toggle {
  position: relative;
  margin-right: 8px;
}
.toggle:last-child {
  margin: 0;
}
.toggle .button.toggle-button {
  margin: 0;
  border: 1px solid transparent;
  border-radius: 4px;
}
.toggle .button.toggle-button:hover {
  border: 1px solid var(--rgb-gray-8);
  background-color: var(--rgb-gray-9);
}
.toggle .button.toggle-button:active,
.toggle .button.toggle-button.active {
  background-color: var(--rgb-gray-8);
  border-color: var(--rgb-gray-7);
}
.toggle .toggle-content {
  display: none;
}
.opened-files .button {
  margin: 0;
}
.opened-files .button svg {
  opacity: 0.5;
}
.opened-files .button:hover svg {
  opacity: 1;
}
.sidebar .buttons {
  flex-direction: column;
  padding: 11px;
}
.sidebar .buttons .button {
  margin-right: 0;
  margin-bottom: 22px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.sidebar .buttons .button:last-child {
  margin: 0;
}
.sidebar .buttons .button:hover {
  border: 1px solid var(--rgb-gray-9);
  background-color: var(--rgb-gray-10);
}
.sidebar .buttons .button:active,
.sidebar .buttons .button.active {
  background-color: var(--rgb-gray-9);
  border-color: var(--rgb-gray-8);
}
.all-files .file-container {
  border: 1px solid transparent;
}
.all-files .file-container.active {
  border: 1px solid var(--rgb-gray-8);
}
.all-files .file-container.active .buttons .button {
  opacity: 1;
}
.all-files .file-container.active .buttons .button svg {
  opacity: 1;
}
.all-files .file-container:hover {
  background-color: var(--rgb-gray-9);
}
.all-files .file-container:hover .buttons .button {
  opacity: 1;
}
.all-files .file-container:hover .buttons .button:hover svg {
  opacity: 1;
}
.all-files .file-container .buttons {
  padding: 0;
}
.all-files .file-container .buttons .button {
  opacity: 0;
  border-radius: 4px;
}
.all-files .file-container .buttons .button svg {
  opacity: 0.5;
}
.popover .buttons {
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
}
.popover .buttons .button {
  margin-right: 0;
  margin-bottom: 4px;
  border-radius: 4px;
}
.popover .buttons .button:last-child {
  margin: 0;
}
.popover .buttons .button:hover {
  background-color: var(--rgb-gray-9);
}
.popover .buttons .button .label {
  pointer-events: none;
  text-wrap: nowrap;
  padding-right: 12px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 149px;
}
