.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.align-stretch {
  align-items: stretch;
}
.spinner-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s opacity;
  background-color: var(--rgb-gray-11);
  pointer-events: none;
  z-index: 3000;
}
.spinner-bg .spinner {
  border: 2px solid var(--rgb-app-color);
  border-top-color: var(--rgb-gray-8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: rotating 1s linear infinite;
}
.loading .spinner-bg {
  opacity: 1;
  background-color: var(--rgb-gray-11);
  pointer-events: all;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#sidebar {
  position: absolute;
  top: calc(48px * 2);
  left: 0;
  width: 42px;
  bottom: 0;
}
#opened-files {
  position: absolute;
  top: calc(48px * 2);
  left: 42px;
  right: 20%;
  height: 48px;
}
#opened-files.sidebar-open {
  left: 256px;
}
#opened-files.execute {
  left: 0;
  right: 60%;
}
#editors {
  position: absolute;
  top: calc(48px * 3);
  left: 42px;
  right: 20%;
  bottom: 0;
}
#editors.sidebar-open {
  left: 256px;
}
#editors.execute {
  left: 0;
  right: 60%;
  bottom: 25%;
}
#registers {
  position: absolute;
  top: calc(48px * 2);
  left: 80%;
  width: 20%;
  bottom: 0;
}
#registers.execute {
  left: 40%;
}
#memory {
  position: absolute;
  top: calc(48px * 2);
  left: 60%;
  width: 40%;
  bottom: 0;
}
#console {
  position: absolute;
  left: 0;
  height: 25%;
  bottom: 0;
  width: 40%;
}
#sidebar-content {
  position: absolute;
  top: calc(48px * 2);
  left: 42px;
  width: 214px;
  bottom: 0;
}
#popover {
  z-index: 1000;
}
#forms-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
}
.ace_editor {
  background-color: var(--rgb-gray-11) !important;
}
.ace_gutter-layer {
  background-color: var(--rgb-gray-10) !important;
}
.ace_active-line {
  background-color: var(--rgb-gray-7) !important;
  opacity: 0.2 !important;
}
.ace_selection {
  background-color: var(--rgb-blue) !important;
  opacity: 0.2 !important;
}
.ace_print-margin {
  background-color: var(--rgb-gray-10) !important;
}
.ace_gutter-cell {
  color: var(--rgb-gray-4) !important;
}
.ace_gutter-active-line {
  background-color: var(--rgb-gray-9) !important;
}
.ace_section {
  color: var(--rgb-ace-section) !important;
}
.ace_tag {
  color: var(--rgb-gray-2) !important;
}
.ace_modifier {
  color: var(--rgb-ace-modifier) !important;
}
.ace_string {
  color: var(--rgb-ace-string) !important;
}
.ace_function {
  color: var(--rgb-ace-function) !important;
}
.ace_variable {
  color: var(--rgb-ace-variable) !important;
  font-style: normal !important;
}
.ace_numeric {
  color: var(--rgb-gray-2) !important;
}
.ace_comment {
  color: var(--rgb-gray-7) !important;
  font-style: normal !important;
}
.ace_text-layer {
  color: var(--rgb-gray-2) !important;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin-right: 8px;
}
.button:last-child {
  margin: 0;
}
.button .label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;
  text-wrap: nowrap;
  padding: 0 4px;
}
.button.default {
  border-radius: 4px;
  border: 1px solid var(--rgb-gray-9);
  background-color: var(--rgb-gray-10);
}
.button.default:hover {
  background-color: var(--rgb-gray-9);
  border-color: var(--rgb-gray-8);
}
.button.default:active {
  background-color: var(--rgb-gray-8);
  border-color: var(--rgb-gray-7);
}
.button.default .label {
  color: var(--rgb-gray-4);
}
.toggle {
  position: relative;
  margin-right: 8px;
}
.toggle:last-child {
  margin: 0;
}
.toggle .button.toggle-button {
  margin: 0;
  border: 1px solid transparent;
  border-radius: 4px;
}
.toggle .button.toggle-button:hover {
  border: 1px solid var(--rgb-gray-8);
  background-color: var(--rgb-gray-9);
}
.toggle .button.toggle-button:active,
.toggle .button.toggle-button.active {
  background-color: var(--rgb-gray-8);
  border-color: var(--rgb-gray-7);
}
.toggle .toggle-content {
  display: none;
}
.opened-files .button {
  margin: 0;
}
.opened-files .button svg {
  opacity: 0.5;
}
.opened-files .button:hover svg {
  opacity: 1;
}
.sidebar .buttons {
  flex-direction: column;
  padding: 11px;
}
.sidebar .buttons .button {
  margin-right: 0;
  margin-bottom: 22px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.sidebar .buttons .button:last-child {
  margin: 0;
}
.sidebar .buttons .button:hover {
  border: 1px solid var(--rgb-gray-9);
  background-color: var(--rgb-gray-10);
}
.sidebar .buttons .button:active,
.sidebar .buttons .button.active {
  background-color: var(--rgb-gray-9);
  border-color: var(--rgb-gray-8);
}
.all-files .file-container {
  border: 1px solid transparent;
}
.all-files .file-container.active {
  border: 1px solid var(--rgb-gray-8);
}
.all-files .file-container.active .buttons .button {
  opacity: 1;
}
.all-files .file-container.active .buttons .button svg {
  opacity: 1;
}
.all-files .file-container:hover {
  background-color: var(--rgb-gray-9);
}
.all-files .file-container:hover .buttons .button {
  opacity: 1;
}
.all-files .file-container:hover .buttons .button:hover svg {
  opacity: 1;
}
.all-files .file-container .buttons {
  padding: 0;
}
.all-files .file-container .buttons .button {
  opacity: 0;
  border-radius: 4px;
}
.all-files .file-container .buttons .button svg {
  opacity: 0.5;
}
.popover .buttons {
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
}
.popover .buttons .button {
  margin-right: 0;
  margin-bottom: 4px;
  border-radius: 4px;
}
.popover .buttons .button:last-child {
  margin: 0;
}
.popover .buttons .button:hover {
  background-color: var(--rgb-gray-9);
}
.popover .buttons .button .label {
  pointer-events: none;
  text-wrap: nowrap;
  padding-right: 12px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 149px;
}
body {
  color: var(--rgb-gray-1);
  background-color: var(--rgb-gray-11);
  margin: 0;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
.header {
  background-color: var(--rgb-gray-10);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  border-bottom: solid 1px var(--rgb-gray-11);
}
.toolbar {
  background-color: var(--rgb-gray-10);
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  height: 48px;
  border-bottom: solid 1px var(--rgb-gray-11);
}
.icon {
  width: 16px;
  height: 16px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon svg {
  transition: opacity 0.5s;
  width: 100%;
  height: 100%;
}
.icon.app-logo {
  width: 24px;
  height: 24px;
  margin: 8px;
}
.app-name {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  height: 100%;
  padding-left: 12px;
  color: var(--rgb-app-color);
}
.body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--rgb-gray-11);
}
.error-message {
  color: var(--rgb-red);
}
.editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.5s;
}
.sidebar {
  width: 100%;
  height: 100%;
  background-color: var(--rgb-gray-10);
  border-right: 1px solid var(--rgb-gray-11);
}
.opened-files {
  width: 100%;
  height: 100%;
  display: flex;
}
.table {
  font-size: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.table .cols-names {
  display: flex;
}
.table .cols-names .col-name {
  display: flex;
  padding: 4px;
  transition: all 0.5s;
  overflow: scroll;
}
.table .cols-names .col-format {
  display: flex;
  padding-bottom: 8px;
  padding-top: 0;
}
.table .rows {
  font-family: monospace;
  background-color: var(--rgb-gray-10);
}
.table .rows .row {
  display: flex;
}
.table .rows .row .col {
  border: 0.5px solid var(--rgb-gray-11);
  display: flex;
  align-items: center;
  padding: 2px 4px;
  overflow: scroll;
  line-height: 14px;
}
.table .rows .row .col.binary {
  font-size: 11px;
}
.component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.component .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 12px;
  border-bottom: 1px solid var(--rgb-gray-11);
}
#console .component {
  background-color: var(--rgb-gray-10);
  border-top: 1px solid var(--rgb-gray-11);
}
#console .component .title {
  border-bottom: 1px solid transparent;
}
#registers .component {
  background-color: var(--rgb-gray-11);
  border-left: 1px solid var(--rgb-gray-10);
}
#registers .component .title {
  border-bottom: 1px solid var(--rgb-gray-10);
}
#registers .component .table {
  position: absolute;
  top: 48px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 12px;
  padding-bottom: 12px;
}
#registers .component .table .row.last-changed {
  background-color: var(--rgba-ace-variable-20);
}
#registers .component .table .col.number {
  width: calc(100% / 100 * 11.5);
}
#registers .component .table .col.name {
  width: calc(100% / 100 * 17);
}
#registers .component .table .col.value {
  width: calc(100% / 100 * 71.5);
}
#memory .component {
  background-color: var(--rgb-gray-11);
  border-left: 1px solid var(--rgb-gray-10);
}
#memory .component .title {
  border-bottom: 1px solid var(--rgb-gray-10);
}
#memory .component .tables {
  position: absolute;
  top: 48px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
}
#memory .component .tables .table {
  margin-bottom: 12px;
  padding: 0 12px;
}
#memory .component .tables .table .rows .row .col {
  line-height: 12px;
  min-height: 28px;
}
#memory .component .tables .table .rows .row .col.tags .static-tags {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#memory .component .tables .table .rows .row .col.tags .dynamic-tags {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
#memory .component .tables .table .rows .row .col.tags .tag {
  font-size: 12px;
  border-radius: 4px;
  padding: 2px;
  margin: 2px;
}
#memory .component .tables .table .rows .row .col.tags .tag.register {
  padding: 2px 4px;
  color: var(--rgb-ace-variable);
  border: 1px solid var(--rgb-ace-variable);
  font-weight: bold;
}
#memory .component .tables .table .rows .row .col.tags .tag.pc {
  padding: 2px 4px;
  font-weight: bold;
  color: var(--rgb-blue);
  border: 1px solid var(--rgb-blue);
}
#memory .component .tables .table .rows .row .col.tags .tag.section {
  font-weight: bold;
  color: var(--rgb-ace-section);
}
#memory .component .tables .table .col.tags {
  width: calc(100% / 100 * 31.5);
}
#memory .component .tables .table .col.address {
  width: calc(100% / 100 * 34.25);
}
#memory .component .tables .table .col.value {
  width: calc(100% / 100 * 34.25);
}
.console {
  position: absolute;
  top: 48px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  padding: 12px;
  background-color: var(--rgb-gray-11);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.console .line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.console .line.error {
  color: var(--rgb-red);
}
.console textarea {
  border: none;
  outline: none;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  background-color: var(--rgb-gray-11);
  color: var(--rgb-gray-1);
  width: 100%;
  padding: 0;
  resize: none;
  overflow: hidden;
}
.console.waiting-input {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.files-tabs {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: var(--rgb-gray-10);
}
.files-tabs.sortable .file-tab:hover {
  background-color: var(--rgb-gray-10) !important;
}
.files-tabs .file-tab {
  height: 100%;
  user-select: none;
  display: flex;
  padding-left: 16px;
  background-color: var(--rgb-gray-10);
  border-bottom: 2px solid transparent;
}
.files-tabs .file-tab.selected {
  border-bottom-color: var(--rgb-app-color);
}
.files-tabs .file-tab .file-name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--rgb-app-color);
}
.ghost-class {
  background-color: var(--rgb-gray-11) !important;
}
.sidebar-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--rgb-gray-10);
  border-right: 1px solid var(--rgb-gray-11);
}
.sidebar-content .title {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
}
.all-files {
  position: absolute;
  top: 48px;
  width: 100%;
  bottom: 0;
  padding: 8px;
  padding-top: 0;
  overflow-y: scroll;
  overflow-x: scroll;
}
.all-files .file-container {
  margin-bottom: 2px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.all-files .file-container:last-child {
  margin-bottom: 0;
}
.all-files .file-container .file {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.all-files .file-container .file .icon {
  width: 14px;
  height: 14px;
  margin: 4px;
}
.all-files .file-container .file .name {
  pointer-events: none;
  text-wrap: nowrap;
  padding-right: 12px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 149px;
}
.all-files .file-container .file.opened .name {
  color: var(--rgb-app-color);
}
.all-files .file-container .file.selected .icon svg {
  fill: var(--rgb-app-color);
}
.popover {
  padding: 8px;
  border: 1px solid var(--rgb-gray-8);
  background-color: var(--rgb-gray-10);
  border-radius: 4px;
  pointer-events: auto;
  z-index: 2001;
}
#forms-bg {
  background-color: var(--rgba-gray-11-60);
  display: none;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: var(--rgb-gray-10);
  padding: 8px;
  border: 1px solid var(--rgb-gray-9);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form .input {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form .input input {
  padding: 8px;
  width: 100%;
  background-color: var(--rgb-gray-11);
  border: 1px solid transparent;
  color: var(--rgb-gray-1);
  outline: none;
  box-shadow: none;
  border-radius: 4px;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
}
.form .input input:focus {
  border: 1px solid var(--rgb-gray-8);
}
.form .text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.blur {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.pointer-events-none {
  pointer-events: none !important;
}
.next-instruction {
  position: absolute;
  background-color: var(--rgba-blue-20) !important;
}
.selected-instruction {
  background-color: var(--rgb-gray-9) !important;
}
select {
  outline: none;
  background-color: var(--rgb-gray-11);
  border-radius: 4px;
  border: 1px solid var(--rgb-gray-9);
  font-size: 12px;
  color: var(--rgb-gray-1);
  font-family: 'Prompt', sans-serif;
}
