body {
  margin: 0;
  background-color: #f2f2f7;
  color: #48484a;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
}
* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
.spinner-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s opacity;
  background-color: #f2f2f7;
  pointer-events: none;
  z-index: 1;
}
.spinner-bg .spinner {
  border: 2px solid #6b81a5;
  border-top-color: rgba(150, 132, 111, 0.25);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: rotating 1s linear infinite;
}
.wait .spinner-bg {
  opacity: 1;
  background-color: #f2f2f7;
  pointer-events: all;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner-bg.body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.icon {
  width: 16px;
  height: 16px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon.app-logo {
  width: 24px;
  height: 24px;
  margin: 8px;
}
.icon svg {
  transition: opacity 0.5s;
  width: 100%;
  height: 100%;
}
.app-name {
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  color: #6b81a5;
  line-height: 16px;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.align-stretch {
  align-items: stretch;
}
.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
select {
  outline: none;
  background-color: #f2f2f7;
  border-radius: 4px;
  border: 1px solid #c7c7cc;
  font-size: 12px;
  color: #636366;
}
.buttons {
  display: flex;
  padding: 8px;
}
.buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(142, 142, 147, 0.25);
  border-radius: 4px;
  user-select: none;
  margin-right: 8px;
  transition: all 0.5s;
}
.buttons .button .label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;
  text-wrap: nowrap;
  padding: 0 4px;
}
.buttons .button:last-child {
  margin: 0;
}
.buttons .button:hover {
  background-color: rgba(142, 142, 147, 0.125);
}
.buttons .button:active {
  background-color: rgba(142, 142, 147, 0.25);
}
.component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.component .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 12px;
  border-bottom: 1px solid #e5e5ea;
}
.table {
  font-size: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.table .cols-names {
  display: flex;
}
.table .cols-names .col-name {
  display: flex;
  padding: 4px;
  transition: all 0.5s;
  overflow: scroll;
}
.table .cols-names .col-format {
  display: flex;
  padding-bottom: 6px;
  padding-top: 0;
}
.table .rows {
  font-family: monospace;
  border: 0.75px solid #d1d1d6;
}
.table .rows .row {
  display: flex;
}
.table .rows .row .col {
  border: 0.75px solid #d1d1d6;
  display: flex;
  align-items: center;
  padding: 2px 4px;
  overflow: scroll;
  line-height: 14px;
}
.table .rows .row .col.binary {
  font-size: 11px;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background-color: #e5e5ea;
  border-bottom: solid 1px #f2f2f7;
}
.toolbar {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  height: 48px;
  background-color: #e5e5ea;
  border-bottom: solid 1px #f2f2f7;
}
.file-editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.file-editor .next-instruction {
  position: absolute;
}
.file-editor .breakpoint {
  background-color: rgba(0, 122, 255, 0.5);
}
.selected-instruction {
  background-color: rgba(142, 142, 147, 0.125);
}
.next-instruction {
  background-color: rgba(0, 122, 255, 0.125) !important;
}
.ace_read-only .ace_cursor {
  display: none !important;
}
.files-tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e5ea;
  border-bottom: solid 1px #f2f2f7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
.files-tabs .file-tab {
  height: 100%;
  border-bottom: 2px solid #e5e5ea;
  user-select: none;
  display: flex;
  padding-left: 16px;
  transition: all 0.5s;
}
.files-tabs .file-tab .file-name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.files-tabs .file-tab:hover {
  background-color: rgba(0, 122, 255, 0.05);
}
.files-tabs .file-tab.active {
  border-bottom: 2px solid rgba(0, 122, 255, 0.5);
}
.files-tabs .file-tab .buttons .button {
  margin: 0;
  border: unset;
}
.files-tabs .file-tab .buttons .button svg {
  opacity: 0.5;
}
.files-tabs .file-tab .buttons .button:hover {
  background-color: unset;
}
.files-tabs .file-tab .buttons .button:hover svg {
  opacity: 1;
}
.files-tabs .file-tab .buttons .button:active {
  background-color: unset;
}
.files-tabs .file-tab.no-hover:hover {
  background-color: unset;
}
#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#files-editors {
  position: absolute;
  top: 144px;
  left: 0;
  width: 80%;
  bottom: 0;
  z-index: 0;
}
#files-editors.execute {
  width: 40%;
  bottom: 25%;
}
#opened-files {
  position: absolute;
  top: 96px;
  left: 0;
  width: 80%;
  height: 48px;
  z-index: 1;
}
#opened-files.execute {
  width: 40%;
}
#console {
  position: absolute;
  left: 0;
  width: 40%;
  height: 25%;
  bottom: 0;
  z-index: 1;
  background-color: #e5e5ea;
}
.console {
  position: absolute;
  top: 48px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  padding: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.console .line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.console .line.error {
  color: #ff3b30;
}
.console textarea {
  border: none;
  outline: none;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  color: #48484a;
  width: 100%;
  padding: 0;
  resize: none;
  overflow: hidden;
}
.console.waiting-input {
  box-shadow: 0 0 6px rgba(142, 142, 147, 0.5);
}
#welcome-page {
  position: absolute;
  top: 96px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
#registers {
  position: absolute;
  top: 96px;
  left: 80%;
  width: 20%;
  bottom: 0;
  z-index: 1;
  background-color: #f2f2f7;
}
#registers.execute {
  left: 40%;
}
#registers .component {
  border-left: solid 1px #e5e5ea;
}
#registers .table {
  position: absolute;
  top: 48px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 12px;
  padding-bottom: 12px;
}
#registers .table .row.last-changed {
  background-color: rgba(255, 149, 0, 0.1875);
}
#registers .table .col.number {
  width: calc(100% / 100 * 11.5);
}
#registers .table .col.name {
  width: calc(100% / 100 * 17);
}
#registers .table .col.value {
  width: calc(100% / 100 * 71.5);
}
#memory {
  position: absolute;
  top: 96px;
  right: 0;
  width: 40%;
  bottom: 0;
  z-index: 0;
  background-color: #f2f2f7;
}
#memory .component {
  border-left: solid 1px #e5e5ea;
}
#memory .tables {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}
#memory .tables .table {
  margin-bottom: 12px;
  padding: 0 12px;
}
#memory .tables .table .rows .row .col {
  line-height: 12px;
  min-height: 28px;
}
#memory .tables .table .rows .row .col.tags .static-tags {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#memory .tables .table .rows .row .col.tags .dynamic-tags {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
#memory .tables .table .rows .row .col.tags .tag {
  font-size: 12px;
  border-radius: 4px;
  padding: 2px;
  margin: 2px;
}
#memory .tables .table .rows .row .col.tags .tag.register {
  padding: 2px 4px;
  color: #fd971e;
  border: 1px solid #fd971e;
  font-weight: bold;
}
#memory .tables .table .rows .row .col.tags .tag.pc {
  padding: 2px 4px;
  font-weight: bold;
  color: #007aff;
  border: 1px solid #007aff;
}
#memory .tables .table .rows .row .col.tags .tag.section {
  font-weight: bold;
}
#memory .tables .table .col.tags {
  width: calc(100% / 100 * 31.5);
}
#memory .tables .table .col.address {
  width: calc(100% / 100 * 34.25);
}
#memory .tables .table .col.value {
  width: calc(100% / 100 * 34.25);
}
@media only screen and (max-width: 513px) {
  .buttons .button .label {
    display: none;
  }
}
