#app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#sidebar {
  position: absolute;
  top: calc(48px * 2);
  left: 0;
  width: 42px;
  bottom: 0;
}
#opened-files {
  position: absolute;
  top: calc(48px * 2);
  left: 42px;
  right: 20%;
  height: 48px;
}
#opened-files.sidebar-open {
  left: 256px;
}
#opened-files.execute {
  left: 0;
  right: 60%;
}
#editors {
  position: absolute;
  top: calc(48px * 3);
  left: 42px;
  right: 20%;
  bottom: 0;
}
#editors.sidebar-open {
  left: 256px;
}
#editors.execute {
  left: 0;
  right: 60%;
  bottom: 25%;
}
#registers {
  position: absolute;
  top: calc(48px * 2);
  left: 80%;
  width: 20%;
  bottom: 0;
}
#registers.execute {
  left: 40%;
}
#memory {
  position: absolute;
  top: calc(48px * 2);
  left: 60%;
  width: 40%;
  bottom: 0;
}
#console {
  position: absolute;
  left: 0;
  height: 25%;
  bottom: 0;
  width: 40%;
}
#sidebar-content {
  position: absolute;
  top: calc(48px * 2);
  left: 42px;
  width: 214px;
  bottom: 0;
}
#popover {
  z-index: 1000;
}
#forms-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
}
