<div class="component">
    <div class="title">Console</div>
    <div class="console">
        <%ctx.vm.console.lines.forEach((line) => {%>
            <div class="line <%if (line.type === "error") {%>error<%}%>"><%=line.text%></div>
        <%});%>
    </div>
</div>