<div class="section">
  <button class="button" onclick="backupOptions(); showFormOnClick('settings',undefined,false,() => {restoreOptions();}); setTimeout(getOptionFlagsOnClick,100);">
    <div class="icon gray-4"><%-Icons.render('settings')%></div>
  </button>
</div>
<div class="section project">
  <span class="project">Project: </span><span class="name" ondblclick="enableProjectNameEdit(this)"><%=ctx.projectName%></span>
  <button class="button" onclick="showMenuOnClick(this, '/app/popovers/project-menu-popover.ejs')">
    <div class="icon gray-4"><%-Icons.render('verticalDots')%></div>
  </button>
</div>
