<button class="button" onclick="backupOptions(); showFormOnClick('settings',undefined,false)">
  <div class="icon gray-4"><%-Icons.render('settings')%></div>
</button>
<button class="button" onclick="showMenuOnClick(this, '/app/popovers/project-menu-popover.ejs')">
  Project
</button>
