<button class="button" onclick="showMenuOnClick(this, '/app/popovers/file-menu-popover.ejs')">
  File
</button>
<button class="button" onclick="showMenuOnClick(this, '/app/popovers/project-menu-popover.ejs')">
  Project
</button>
