<div class="buttons">
    <div class="button" onclick="newFile();">
        <div class="icon"><%-Icons.render('newFile')%></div>
        <div class="label">New file</div>
    </div>
    <div class="button" onclick="importFile();">
        <div class="icon"><%-Icons.render('importFile')%></div>
        <div class="label">Import file</div>
    </div>
</div>