<div class="sidebar">
    <div class="buttons">
        <div class="button <%if(ctx.sidebar === 'all-files'){%>active<%}%>" onclick="toggleSidebarOnClick('all-files')">
            <div class="icon gray-4"><%-Icons.render('files')%></div>
        </div>
    </div>
</div>