<div class="fullscreen flex-center">
    <div class="">Import a sample file</div>
    <div class="buttons">
        <div class="button" onclick="importSampleOnClick('sample')">
            <div class="icon"><%-Icons.render('sampleFile')%></div>
            <div class="label">sample.asm</div>
        </div>
    </div>
</div>