<div class="fullscreen flex-center">
    <div class="buttons">
        <div class="button" onclick="importSamplesOnClick([
            '1_storesum',
            '2_expression',
            '3_muldiv',
            '4_array4',
            '5_arraysum',
            '6_rwmemoria',
            '8_intsuccessivo',
            ]);">
            <div class="icon"><%-Icons.render('sampleFile')%></div>
            <div class="label">Import sample files</div>
        </div>
    </div>
</div>