<div class="fullscreen flex-center">
    <div class="buttons">
        <div class="button" onclick="importSampleOnClick('mulDiv');importSampleOnClick('nextInt');">
            <div class="icon"><%-Icons.render('sampleFile')%></div>
            <div class="label">Import sample files</div>
        </div>
    </div>
</div>