<div class="fullscreen flex-center">
    <div class="">Import a sample file</div>
    <div class="buttons">

        <div class="button" onclick="importSampleOnClick('mulDiv')">
            <div class="icon"><%-Icons.render('sampleFile')%></div>
            <div class="label">mulDiv.asm</div>
        </div>
        <div class="button" onclick="importSampleOnClick('nextInt')">
            <div class="icon"><%-Icons.render('sampleFile')%></div>
            <div class="label">nextInt.asm</div>
        </div>
    </div>
</div>