<div class="popover file-menu">
  <div class="buttons">
    <div class="button default" onclick="newFileOnClick()" title="Create a new source file inside the editor">
        <div class="icon gray-4"><%-Icons.render('newFile')%></div>
        <div class="label">New source</div>
    </div>
    <div class="button default" onclick="importFilesOnClick()" title="Add the imported files to the current project">
        <div class="icon gray-4"><%-Icons.render('importFiles')%></div>
        <div class="label">Import files</div>
    </div>
    <% if (ctx.openedFiles.length > 0) { %>
      <div class="button default"  onclick="closeAllFilesOnClick()" title="Close all open editor tabs, doesn't delete the files">
          <div class="icon gray-4"><%-Icons.render('x')%></div>
          <div class="label">Close all tabs</div>
      </div>
    <%}%>
  </div>
</div>
