<form class="form" onsubmit="return createMemoryInterval(event)">
  <div class="text">Create a custom memory interval</div>
  <div class="input">
    <label for="interval-start">From:</label>
    <div class="flex justify-start align-end">
      <div style="opacity: 0.5">0x</div>
      <input type="string" id="interval-start" name="start" required/>
    </div>
  </div>
  <div class="input">
    <label for="interval-end">To:</label>
    <div class="flex justify-start align-end">
      <div style="opacity: 0.5">0x</div>
      <input type="string" id="interval-end" name="end" required/>
    </div>
  </div>
  <div class="buttons">
    <button class="button default" onclick="hideFormOnClick();">
      <div class="icon gray-4"><%-Icons.render('x')%></div>
      <div class="label">Cancel</div>
    </button>
    <button class="button default" type="submit">
      <div class="icon gray-4"><%-Icons.render('edit')%></div>
      <div class="label">Create</div>
    </button>
  </div>
</form>
