<form class="form unimi-login">
    <div class="text">Select the exam session you want to submit to</div>
    <div class="input">
        <select id="session-select" name="session-select"></select>
    </div>
    <div class="buttons">
        <div id="confirmSessionBtn" class="button default">
            <div class="icon gray-4"><%-Icons.render('save')%></div>
            <div class="label">Select session</div>
        </div>
    </div>
</form>
