@import "variables.less";

body {
  opacity: 0;
  margin: 0;
  background-color: @light-gray-5;
  color: @dark-gray-2;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
}

* {
  transition: opacity 0.5s;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.spinner-bg {
  display:flex;
  justify-content:center;
  align-items:center;
  opacity:0;
  transition:0.5s opacity;
  background-color: @light-gray-5;
  pointer-events:none;
  .spinner {
    border:2px solid rgba(@blue, 1);
    border-top-color: rgba(@blue, 0.25);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: rotating 1s linear infinite;
  }
}
.wait {
  .spinner-bg {
    opacity: 1;
    pointer-events:all;
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner-bg {
  &.body {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
  }
}

.icon {
  width: @space-4 + @space-3;
  height: @space-4 + @space-3;
  padding: @space-2;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;
  }
}

.app-logo {
  height: @space-5 + @space-3;
  width: @space-5 + @space-3;
  padding: @space-3;
  svg {
    width: 100%;
    height: 100%;
  }
}

.app-name {
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  color: #6b81a5;
}

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.align-stretch {
  align-items: stretch;
}

.buttons {
  display: flex;
  padding: @space-3;
  overflow: scroll;
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: @space-3;
    border-radius: @space-2;
    user-select: none;
    transition: all 0.5s;
    border: 1px solid rgba(@gray, 0.25);
    height: @space-4 + @space-3 + @space-2;
    &:last-child {
      margin: 0;
    }
    .icon {
      pointer-events: none;
    }
    .text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: @space-2;
      padding-right: @space-2;
      pointer-events: none;
      text-wrap: nowrap;
      min-width: @space-6 + @space-4;
      &.no-icon {
        padding-left: @space-2;
      }
    }
    &:hover {
      background-color: rgba(@gray, 0.125);
    }
    &:active {
      background-color: rgba(@gray, 0.25);
    }
  }
  &.vertical {
    flex-direction: column;
    .button {
      margin-right: 0;
      margin-bottom: @space-3;
    }
  }
}

.toolbar-1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: @space-5 + @space-4;
  background-color: @light-gray-4;
  border-bottom: solid 1px @light-gray-5;
}

.toolbar-2 {
  position: absolute;
  top: @space-5 + @space-4;
  left: 0;
  right: 0;
  height: @space-5 + @space-4;
  background-color: @light-gray-4;
  border-bottom: solid 1px @light-gray-5;
}

.files-tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: @space-5 + @space-4;
  background-color: @light-gray-4;
  border-bottom: solid 1px @light-gray-5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  .file-tab {
    height: 100%;
    border-bottom: @space-1 solid @light-gray-4;
    user-select: none;
    display: flex;
    padding-left: @space-4;
    .file-name {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      background-color: rgba(@blue, 0.05);
    }
    &.active {
      border-bottom: @space-1 solid rgba(@blue, 0.5);
    }
    .buttons {
      .button {
        border: 1px solid rgba(@gray, 0);
        margin: 0;
        &:hover {
          background-color: rgba(@gray, 0);
        }
        &.hover-red {
          &:hover {
            svg {
              fill: rgba(@red, 0.75);
              transition: fill 0.5s;
            }
          }
        }
      }
    }
  }
}

#files {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: @space-5 + @space-4;
  z-index: 1;
  transition: all 0.5s;
}

#files-editors {
  position: absolute;
  top: @space-7 + @space-4;
  left: 0;
  width: 80%;
  bottom: 0;
  z-index: 1;
  transition: all 0.5s;
  .file-editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

#app {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  .content {
    position: absolute;
    top: @space-6 + @space-5;
    bottom: 0;
    left: 0;
    right: 0;
    &.assembled {
      #editor {
        width: 40%;
      }
      #registers {
        left: 40%;
      }
    }
  }
}

#registers {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
}

#memory {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  transition: all 0.5s;
}

@media only screen and (max-width: 512px) {
  .buttons {
    .button {
      .text {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 513px) and (max-width: 1024px) {

}

