@import "flex.less";
@import "spinner.less";
@import "variables.less";
@import "templates.less";
@import "ace-editor.less";
@import "buttons.less";

@border-gray-9: solid 1px var(--rgb-gray-9);
@border-gray-10: solid 1px var(--rgb-gray-10);

.after-whiteout() {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--rgba-gray-3-40);
  transition: opacity 0.2s ease-out;
}

body {
  color: var(--rgb-gray-1);
  background-color: var(--rgb-gray-11);
  margin: 0;
  font-family: "Prompt", sans-serif;
  font-size: @font-size;
  opacity: 0;
  transition: opacity 0.5s;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

input {
  background-color: var(--rgb-gray-11);
  border: 1px solid transparent;
  color: var(--rgb-gray-1);
  outline: none;
  box-shadow: none;
  border-radius: 4px;
  font-family: "Prompt", sans-serif;
  font-size: @font-size;

  &:focus {
    border: 1px solid var(--rgb-gray-8);
  }
}

.toolbar {
  background-color: var(--rgb-gray-10);
  height: @toolbar-h;
  border-bottom: solid 1px var(--rgb-gray-11);
  .left {
    height: 100%;
  }
}

.address.hexadecimal,
.value.hexadecimal {
  &::before {
    content: "0𝗑";
    font-size: calc(@font-size-small - 2px);
    user-select: none;
    opacity: 0.3;
  }
}

.icon {
  width: @icon-hw;
  height: @icon-hw;
  margin: @icon-margin;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    transition: opacity 0.5s;
    width: 100%;
    height: 100%;
  }
}

.icon {
  &.app-logo {
    width: @app-logo-hw;
    height: @app-logo-hw;
    margin: @app-logo-margin;
  }
}

.app-name {
  font-size: @font-size-big;
  line-height: @font-size-big;
  font-weight: bold;
  padding: 0 12px;
  color: var(--rgb-app-color);
  .version {
    font-weight: normal;
    font-size: @font-size;
  }
}

.body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--rgb-gray-11);
}

.error-message {
  color: var(--rgb-red);
}

.editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.5s;
}

.opened-files {
  width: 100%;
  height: 100%;
  display: flex;
}

.settings {
  .line {
    margin-bottom: 5px;
    display: flex;
    gap: 5px;
    .help {
      background-color: var(--rgb-gray-8);
      border-radius: 50%;
      user-select: none;
      margin: auto 0;
      width: 1.5ch;
      height: 1.5ch;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 80%;
      padding: 1.2ch;
      &:hover {
        background-color: var(--rgb-gray-7);
      }
    }
  }
  .error {
    background-color: var(--rgba-red-60);
  }
}

.table {
  font-size: @font-size-small;
  overflow-x: hidden;

  font-family: monospace;
  .cols-names {
    display: flex;
    & > .col {
      border: none !important;
      & > * {
        font-family: "Prompt", sans-serif;
      }
    }

    .col {
      display: flex;
      justify-content: space-between;
      gap: 0.2em;

      .col-name {
        display: flex;
        flex-wrap: wrap;
        padding: 2px;
        transition: all 0.5s;
        overflow: scroll;
        font-size: @font-size;
      }

      .col-format {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-bottom: 6px;
      }
    }
  }

  .rows {
    .row {
      display: flex;

      &:first-of-type {
        .col {
          &.name,
          &.address {
            border-top: @border-gray-10;
          }
          &.value {
            border-top: @border-gray-9;
          }
        }
      }
      .col {
        &.name,
        &.address {
          border-bottom: @border-gray-10;
        }
        &.value {
          border-bottom: @border-gray-9;
        }
        display: flex;
        align-items: center;
        padding: 2px 4px;
        overflow: scroll;
        line-height: @font-size;
        justify-content: flex-end;
        position: relative;

        &.binary {
          display: flex;
          flex-wrap: nowrap;
          gap: 2px;
          span {
            font-family: Lekton;
            font-size: @font-size-small;
            transform-origin: left;
          }
        }
      }
    }
  }
}

.component {
  height: 100%;
  overflow-y: scroll;
  .title {
    z-index: 20; // without this semitransparent elements show through (like 0x before hex)
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    height: @toolbar-h;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.3em 1em;
    background-color: var(--rgb-gray-11);
    border-bottom: solid 1px var(--rgb-gray-11);
  }
  & > .tables,
  & > .table {
    margin-top: 0.5em;
  }
  .title {
    border-bottom: @border-gray-10;
    .icon {
      margin-left: 0;
    }
    &:hover {
      cursor: pointer;
      background-color: var(--rgb-gray-9);
    }
  }
}

#no-files {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .buttons {
    margin: auto;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    .button {
      z-index: 5;
      height: 2.5em;
      width: 100%;
      margin-right: 0;
    }
  }
}

#files-buttons {
  display: flex;
  gap: 0;
  padding: 0;
  height: 100%;
  .section {
    height: 100%;
    margin: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-right: @btn-border;
    &:first-child {
      border-left: @btn-border;
    }
    .button {
      &:hover {
        background-color: var(--rgb-gray-9);
        border-color: var(--rgb-gray-8);
      }
    }

    &.project {
      gap: 5px;
      .project {
        user-select: none;
        opacity: 0.6;
      }
      .name {
        max-width: 35vw;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

#console {
  font-size: var(--font-size-dyn);
  .component {
    background-color: var(--rgb-gray-10);
    .title {
      border-top: 2px solid var(--rgb-gray-10);
      border-bottom: 1px solid transparent;
    }
    .console {
      background-color: var(--rgb-gray-11);
      display: flex;
      flex-direction: column;
      overflow-y: scroll;

      .line {
        &.error {
          color: var(--rgb-red);
        }
        &.warn {
          color: var(--rgb-yellow);
        }
        .clickable-pos {
          cursor: pointer;
          user-select: none;
          padding: 0 2px;
          &:hover {
            background-color: var(--rgba-red-20);
          }
        }
      }

      textarea {
        border: none;
        outline: none;
        font-family: "Prompt", sans-serif;
        font-size: @font-size;
        background-color: var(--rgb-gray-11);
        color: var(--rgb-gray-1);
        width: 100%;
        padding: 0;
        resize: none;
        overflow: hidden;
      }

      &.waiting-input {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

#editors {
  .next-instruction {
    position: absolute;
    background-color: var(--rgba-blue-10) !important;
  }
  .error {
    position: absolute;
    background-color: var(--rgba-red-20);
  }

  .breakpoint-line {
    background-color: var(--rgba-red-20);
    &::before {
      content: "●";
      color: var(--rgb-red);
      position: absolute;
      left: 5px;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }
}

#registers {
  .component {
    background-color: var(--rgb-gray-11);
    border-left: 2px solid var(--rgb-gray-10);

    .table {
      @reg-name-width: 7ch;
      padding: 0 12px;
      padding-bottom: 12px;
      .cols-names {
        .col.name {
          justify-content: center;
        }
        .col.value {
          width: calc(100% - @reg-name-width);
        }
      }

      .col-format {
        padding-left: 0;
      }

      .row {
        background-color: var(--rgb-gray-10);
      }

      .col {
        min-height: 20px;
        &.name {
          width: @reg-name-width;
          background-color: var(--rgb-gray-11);
        }

        &.value {
          width: 12ch;
          &.binary {
            width: 18ch;
          }
        }
      }
    }
  }
  &.registers-shown .row {
    &.last-changed {
      .col.value {
        .last-changed-mixin();
      }
    }
    &.last-read {
      .col.value {
        .last-read-mixin();
      }
    }
  }
  &:not(.registers-shown) .row {
    &.last-changed {
      .col.name {
        .last-changed-mixin();
      }
    }
    &.last-read {
      .col.name {
        .last-read-mixin();
      }
    }
  }
}

#memory {
  // this variable can be set from javascript to adapt to the longer label
  --tags-width: 15ch;
  #memorymap-container {
    opacity: 0.6;
    transition: opacity 0.5s;
    &:has(#memorymap:hover) {
      opacity: 0.9;
    }
    #memorymap {
      background-color: var(--rgb-gray-7);
      filter: saturate(250%);
    }
  }
  .component {
    background-color: var(--rgb-gray-11);
    border-left: 2px solid var(--rgb-gray-10);

    .tables {
      overflow-y: scroll;
      overscroll-behavior: contain;
      height: 100%;
      padding-right: @mem-padding-right;
      padding-bottom: 15vh;

      .table {
        margin-bottom: 12px;
        overflow: visible;
        padding: 0;

        .cols-names {
          .col {
            background-color: transparent !important;
          }
          .dots.icon {
            opacity: 0.3;
            width: auto;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(-6px) scale(1.2);
            svg {
              fill: var(--rgb-gray-4);
            }
          }
        }

        .rows {
          position: relative;
          overflow: hidden;
          &::after {
            .after-whiteout();
            left: var(--tags-width);
            width: calc(100% - var(--tags-width));
          }
          &.highlighted::after {
            opacity: 1;
          }
          .row {
            position: relative;
            &::after {
              .after-whiteout();
              left: var(--tags-width);
              width: calc(100% - var(--tags-width));
            }
            &.highlighted::after {
              opacity: 1;
            }
            &.error::before {
              .after-whiteout();
              z-index: 10;
              opacity: 1;
              background-color: var(--rgba-red-20) !important;
            }
            &.selected-instruction {
              .col {
                &.address {
                  background-color: var(--rgb-gray-9);
                }
                &.value {
                  background-color: var(--rgb-gray-8);
                }
              }
            }

            &.userDefined {
              .col {
                &.address,
                &.value {
                  position: relative;
                  &::after {
                    .after-whiteout();
                    background-color: var(--rgb-gray-12);
                    opacity: 0.2;
                  }
                }
              }
            }

            .col {
              line-height: @font-size-small;
              min-height: 20px;

              &.hexadecimal,
              &.binary,
              &.ascii {
                justify-content: center;
              }
              &.asm {
                justify-content: flex-start;
              }

              &.tags {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                overflow: hidden;

                .static-tags {
                  flex: 1;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  flex-wrap: wrap;
                  min-width: 0;
                  overflow: hidden;
                }

                .dynamic-tags {
                  overflow: scroll;
                  width: 100%;
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  flex-wrap: wrap;
                }

                .tag {
                  font-size: @font-size-small;
                  border-radius: 4px;
                  padding: 2px;
                  margin: 2px;
                  max-width: 100%;
                  overflow: hidden;
                  text-overflow: ellipsis;

                  &.register {
                    padding: 2px 4px;
                    color: var(--rgb-ace-variable);
                    border: 1px solid var(--rgb-ace-variable);
                    font-weight: bold;
                  }

                  &.pc {
                    padding: 2px 4px;
                    font-weight: bold;
                    color: var(--rgb-blue);
                    border: 1px solid var(--rgb-blue);
                  }

                  &.section {
                    font-weight: bold;
                    color: var(--rgb-ace-section);
                  }
                }
              }
            }
          }
        }

        .col {
          &.last-changed {
            .last-changed-mixin();
          }
          &.last-read {
            .last-read-mixin();
          }
          &.tags {
            width: var(--tags-width);
          }

          &.address {
            width: 11ch;
            background-color: transparent;
          }

          @mem-value-width: 22ch;

          &.value {
            width: @mem-value-width;
            background-color: var(--rgb-gray-10);
          }

          &.granular {
            display: flex;
            width: @mem-value-width;
            padding: 0;
            border: none;

            .value {
              border-right: @border-gray-9;
              &:last-of-type {
                border-right: none;
              }
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.files-tabs {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: var(--rgb-gray-10);
  border-bottom: 1px solid var(--rgb-gray-9);
  // this padding allows to scroll further
  padding-right: 70%;

  .new-file {
    position: relative;
    padding: 0 16px;
    & > .icon {
      margin: auto;
    }
    svg {
      fill: var(--rgba-app-color-80);
    }
    &:hover {
      svg {
        fill: var(--rgb-app-color);
      }
    }
  }

  &.sortable {
    .file-tab {
      &:hover {
        background-color: var(--rgb-gray-10) !important;
      }
    }
  }

  .file-tab {
    height: 100%;
    user-select: none;
    display: flex;
    padding-left: 16px;
    background-color: var(--rgb-gray-10);
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom-color: var(--rgba-app-color-50);
    }

    &.selected {
      border-bottom-color: var(--rgb-app-color);
    }

    .file-name {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--rgb-app-color);
    }
  }
}

.ghost-class {
  background-color: var(--rgb-gray-11) !important;
}

.popover {
  padding: 8px;
  border: 1px solid var(--rgb-gray-8);
  background-color: var(--rgb-gray-10);
  border-radius: 4px;
  pointer-events: auto;
  z-index: 2001;
}

#forms-bg {
  background-color: var(--rgba-gray-11-60);
  display: none;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: var(--rgb-gray-10);
  padding: 8px;
  border: 1px solid var(--rgb-gray-9);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .input {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    input {
      width: 100%;
    }
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
}

.blur {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.pointer-events-none {
  pointer-events: none !important;
}

select {
  outline: none;
  background-color: var(--rgb-gray-11);
  border-radius: 4px;
  border: 1px solid var(--rgb-gray-9);
  font-size: @font-size-small;
  color: var(--rgb-gray-1);
  font-family: "Prompt", sans-serif;
}
