@import "flex.less";
@import "spinner.less";
@import "variables.less";
@import "templates.less";
@import "ace-editor.less";
@import "buttons.less";

@border-gray-10: solid 1px var(--rgb-gray-10);
@border-gray-11: solid 1px var(--rgb-gray-11);
.after-whiteout() {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.2);
  transition: opacity 0.1s linear;
}

body {
  color: var(--rgb-gray-1);
  background-color: var(--rgb-gray-11);
  margin: 0;
  font-family: "Prompt", sans-serif;
  font-size: @font-size;
  opacity: 0;
  transition: opacity 0.5s;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.header {
  background-color: var(--rgb-gray-10);
  height: @toolbar-h;
  border-bottom: solid 1px var(--rgb-gray-11);
}

.toolbar {
  background-color: var(--rgb-gray-10);
  height: @toolbar-h;
  border-bottom: solid 1px var(--rgb-gray-11);
}

.icon {
  width: @icon-hw;
  height: @icon-hw;
  margin: @icon-margin;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    transition: opacity 0.5s;
    width: 100%;
    height: 100%;
  }
}

.icon {
  &.app-logo {
    width: @app-logo-hw;
    height: @app-logo-hw;
    margin: @app-logo-margin;
  }
}

.app-name {
  font-size: @font-size-big;
  line-height: @font-size-big;
  font-weight: bold;
  height: 100%;
  padding-left: 12px;
  color: var(--rgb-app-color);
}

.body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--rgb-gray-11);
}

.error-message {
  color: var(--rgb-red);
}

.editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.5s;
}

.sidebar {
  width: 100%;
  height: 100%;
  background-color: var(--rgb-gray-10);
  border-right: @border-gray-11;
}

.opened-files {
  width: 100%;
  height: 100%;
  display: flex;
}

.table {
  font-size: @font-size-small;
  overflow-y: scroll;
  overflow-x: hidden;

  .cols-names {
    display: flex;

    .col {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .col-name {
        display: flex;
        flex-wrap: wrap;
        padding: 2px;
        transition: all 0.5s;
        overflow: scroll;
      }

      .col-format {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-bottom: 6px;
      }
    }
  }

  .rows {
    font-family: monospace;

    .row {
      display: flex;

      .col {
        border: 0.5px solid var(--rgb-gray-11);
        display: flex;
        align-items: center;
        padding: 2px 4px;
        overflow: scroll;
        line-height: @font-size;

        &.binary {
          font-size: @font-size-small - 2;
        }
      }
    }
  }
}

.component {
  height: 100%;
  overflow-y: scroll;
  padding-top: calc(@toolbar-h + 0.5em);
  .title {
    z-index: 1; // without this semitransparent elements show through (like 0x before hex)
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: @toolbar-h;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.3em 1em;
    background-color: var(--rgb-gray-11);
    border-bottom: @border-gray-11;
  }
}

#console {
  .component {
    background-color: var(--rgb-gray-10);
    border-top: @border-gray-11;

    .title {
      border-bottom: 1px solid transparent;
    }
  }
}

#registers {
  .component {
    background-color: var(--rgb-gray-11);
    border-left: @border-gray-10;

    .title {
      border-bottom: @border-gray-10;
    }

    .table {
      padding: 0 12px;
      padding-bottom: 12px;

      .col-format {
        padding-left: 0;
      }

      .row {
        background-color: var(--rgb-gray-10);

        &.last-changed {
          .col {
            &.value {
              color: var(--rgb-ace-variable);
            }
          }
        }
      }

      .col {
        &.name {
          width: calc(100% / 100 * 40);
        }

        &.value {
          width: calc(100% / 100 * 60);
        }
      }
    }
  }
}

#memory {
  .component {
    background-color: var(--rgb-gray-11);
    border-left: @border-gray-10;

    .title {
      border-bottom: @border-gray-10;
      border-left: @border-gray-10;
    }

    // toggle memory-map button
    .button {
      z-index: 2;
      @w: 9em;
      @h: 2em;
      position: absolute;
      margin: 0 !important;
      width: @w;
      height: @h;
      margin-top: -@h;
      top: calc(@w / 2 - @h / 2 + 1em);
      right: calc(@h / 2 - @w / 2);
      transform: rotate(-90deg);
      border-radius: 4px 4px 0 0;
    }

    .tables {
      overflow-y: scroll;

      .table {
        margin-bottom: 12px;
        padding: 0 12px;

        .cols-names {
          .col {
            background-color: transparent !important;
          }
        }

        .rows {
          position: relative;
          &::after {
            .after-whiteout();
            transition: opacity 0.2s ease-out;
          }
          &.highlighted::after {
            opacity: 1;
          }
          .row {
            &.selected-instruction {
              //background-color: var(--rgb-gray-9) !important;
              .col {
                &.address {
                  background-color: var(--rgb-gray-9) !important;
                }

                &.value {
                  background-color: var(--rgb-gray-9) !important;
                }
              }
            }

            .col {
              line-height: @font-size-small;
              min-height: 28px;

              &.tags {
                display: flex;
                flex-wrap: wrap;
                .static-tags {
                  flex: 1;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  flex-wrap: wrap;
                }

                .dynamic-tags {
                  flex: 1;
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  flex-wrap: wrap;
                }

                .tag {
                  font-size: @font-size-small;
                  border-radius: 4px;
                  padding: 2px;
                  margin: 2px;

                  &.register {
                    padding: 2px 4px;
                    color: var(--rgb-ace-variable);
                    border: 1px solid var(--rgb-ace-variable);
                    font-weight: bold;
                  }

                  &.pc {
                    padding: 2px 4px;
                    font-weight: bold;
                    color: var(--rgb-blue);
                    border: 1px solid var(--rgb-blue);
                  }

                  &.section {
                    font-weight: bold;
                    color: var(--rgb-ace-section);
                  }
                }
              }
            }
          }
        }

        .col {
          &.tags {
            width: calc(100% / 100 * 25);
            border-bottom: @border-gray-10;
          }

          &.address {
            width: calc(100% / 100 * 25);
            background-color: var(--rgb-gray-10);
          }

          &.value {
            width: calc(100% / 100 * 50);
            background-color: var(--rgb-gray-10);
          }

          &.granular {
            display: flex;
            width: calc(100% / 100 * 50);
            padding: 0;
            border: none;

            .value {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

#memorymap {
  .component {
    background-color: var(--rgb-gray-11);
    border-left: @border-gray-10;

    .title {
      border-bottom: @border-gray-10;
    }

    .memorymap {
      .interval {
        cursor: pointer;
        position: relative;
        &::after {
          .after-whiteout();
        }
        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }
      .cell {
        width: 100%;
        height: 6px;
        border: @border-gray-10;
        background-color: var(--rgb-gray-11);
        &.active {
          background-color: var(--rgb-gray-8);
          // border-bottom: none;
        }
      }
      .fading {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0%,
            var(--rgb-gray-11) 100%
          );
          width: 100%;
          height: 100%;
        }
        &.mid::after {
          background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0%,
            var(--rgb-gray-11) 50%,
            rgba(255, 255, 255, 0) 100%
          );
        }
      }
    }
  }
}

.console {
  position: absolute;
  top: @toolbar-h;
  left: 12px;
  right: 12px;
  bottom: 12px;
  padding: 12px;
  background-color: var(--rgb-gray-11);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  .line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    &.error {
      color: var(--rgb-red);
    }
  }

  textarea {
    border: none;
    outline: none;
    font-family: "Prompt", sans-serif;
    font-size: @font-size;
    background-color: var(--rgb-gray-11);
    color: var(--rgb-gray-1);
    width: 100%;
    padding: 0;
    resize: none;
    overflow: hidden;
  }

  &.waiting-input {
    //border: 1px solid var(--rib-gray-9);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  }
}

.files-tabs {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: var(--rgb-gray-10);

  &.sortable {
    .file-tab {
      &:hover {
        background-color: var(--rgb-gray-10) !important;
      }
    }
  }

  .file-tab {
    height: 100%;
    user-select: none;
    display: flex;
    padding-left: 16px;
    background-color: var(--rgb-gray-10);
    border-bottom: 2px solid transparent;

    &.selected {
      border-bottom-color: var(--rgb-app-color);
    }

    .file-name {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--rgb-app-color);
    }
  }
}

.ghost-class {
  background-color: var(--rgb-gray-11) !important;
}

.sidebar-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--rgb-gray-10);
  border-right: @border-gray-11;

  .title {
    height: @toolbar-h;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
  }
}

.all-files {
  position: absolute;
  top: @toolbar-h;
  width: 100%;
  bottom: 0;
  padding: 8px;
  padding-top: 0;
  overflow-y: scroll;
  overflow-x: scroll;

  .file-container {
    margin-bottom: 2px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    .file {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .icon {
        width: @file-icon-hw;
        height: @file-icon-hw;
        margin: @file-icon-margin;
      }

      .name {
        pointer-events: none;
        text-wrap: nowrap;
        padding-right: 12px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        width: 149px;
      }

      &.opened {
        .name {
          color: var(--rgb-app-color);
        }
      }

      &.selected {
        .icon {
          svg {
            fill: var(--rgb-app-color);
          }
        }
      }
    }
  }
}

.popover {
  padding: 8px;
  border: 1px solid var(--rgb-gray-8);
  background-color: var(--rgb-gray-10);
  border-radius: 4px;
  pointer-events: auto;
  z-index: 2001;
}

#forms-bg {
  background-color: var(--rgba-gray-11-60);
  display: none;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: var(--rgb-gray-10);
  padding: 8px;
  border: 1px solid var(--rgb-gray-9);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .input {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      padding: 8px;
      width: 100%;
      background-color: var(--rgb-gray-11);
      border: 1px solid transparent;
      color: var(--rgb-gray-1);
      outline: none;
      box-shadow: none;
      border-radius: 4px;
      font-family: "Prompt", sans-serif;
      font-size: @font-size;

      &:focus {
        border: 1px solid var(--rgb-gray-8);
      }
    }
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
}

.blur {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.pointer-events-none {
  pointer-events: none !important;
}

.next-instruction {
  position: absolute;
  background-color: var(--rgba-blue-10) !important;
}

select {
  outline: none;
  background-color: var(--rgb-gray-11);
  border-radius: 4px;
  border: 1px solid var(--rgb-gray-9);
  font-size: @font-size-small;
  color: var(--rgb-gray-1);
  font-family: "Prompt", sans-serif;
}
