@import "variables.less";

@component-transition:
  max-width 0.2s ease-out,
  width 0.2s ease-out,
  opacity 0.2s ease-out,
  transform 0.2s ease-out,
  height 0.2s ease-out;

#vm-buttons {
  .buttons {
    width: 40ch;
    #btn-assemble {
      flex: 1;
    }
    #step-group {
      width: 12ch;
      & > * {
        flex: 1;
      }
    }
  }
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#editors {
  position: absolute;
  top: calc(@toolbar-h * 2);
  left: 0;
  right: 0;
  bottom: @toolbar-h;
  &.console-shown {
    bottom: calc(@height-console + @toolbar-h);
  }
}

#components-container {
  z-index: 10;
  position: absolute;
  top: @toolbar-h;
  left: 0;
  width: 100%;
  height: calc(100% - @toolbar-h);
  display: flex;
  pointer-events: none;
  #console-container {
    pointer-events: none;
    & > * {
      pointer-events: auto;
    }
    flex: 1 1 auto;
    min-width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #memory,
  #registers {
    pointer-events: auto;
    flex: 0 0 auto;
  }
}

.title .icon {
  transition: @component-transition;
}
.rotate-icon {
  .title .icon {
    transform: rotate(180deg);
  }
}
#memory.memory-shown {
  .rotate-icon();
}
#registers.registers-shown {
  .rotate-icon();
}
#console.console-shown {
  .rotate-icon();
}

#registers {
  transition: @component-transition;
  .col.value,
  .title .long {
    transition: @component-transition;
    overflow: hidden;
    max-width: 100%;
  }
  max-width: 30%;
  &:not(.registers-shown) {
    max-width: 9ch;
    .title .long {
      max-width: 0;
    }
    .cols-names .col.value {
      visibility: hidden;
    }
    .col.value {
      width: 0 !important;
      padding: 0;
    }
    .col.name {
      width: 100% !important;
    }
  }
}

#memory {
  transition: @component-transition;
  min-width: 8ch;
  max-width: 10%;
  .title .long {
    transition: @component-transition;
    overflow: hidden;
    max-width: 0;
  }
  #memorymap-container {
    @mm-width: 10px;
    @padding: 2.5px;
    position: absolute;
    padding: @padding;
    padding-left: 0;
    width: @mem-padding-right;
    z-index: 12;
    height: calc(100% - @toolbar-h);
    top: @toolbar-h;
    right: 0;
    #memorymap {
      width: @mm-width;
      height: 100%;
      float: right;
    }
    #memorymap-glowup {
      z-index: 15;
      opacity: 0.3 !important;
      pointer-events: none;
      position: absolute;
      width: calc(@mm-width + 4px);
      height: calc(100% + @padding * 2);
      top: calc(-1 * @padding);
      right: 0.5px;
    }
    #memorymap-connections {
      position: absolute;
      top: @padding;
      right: calc(@padding + @mm-width);
      width: calc(100% - @mm-width - @padding);
      height: 100%;
    }
  }
  #memory-tables {
    max-width: 0;
    transition: @component-transition;
  }
  &:not(.memory-shown) {
    .cols-names {
      opacity: 0;
      visibility: hidden;
    }
  }
  position: relative;
  &.memory-shown {
    min-width: 1%;
    max-width: 80%;
    #memory-tables {
      max-width: 70vw;
    }
    .title .long {
      max-width: 100%;
    }
  }
}

#console {
  position: relative;
  .console {
    transition: @component-transition;
    padding: 0;
    height: 0;
    border: none;
  }
  width: 100%;
  &.console-shown {
    .console {
      border: 12px solid var(--rgb-gray-10);
      border-top: none;
      padding: 12px;
      height: @height-console;
    }
  }
}

#popover {
  z-index: 1000;
}

#forms-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
}
