@import "variables.less";

#app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#sidebar {
  position: absolute;
  top: calc(@toolbar-h * 2);
  left: 0;
  width: @sidebar-w-close;
  bottom: 0;
}

#opened-files {
  position: absolute;
  top: calc(@toolbar-h * 2);
  left: @sidebar-w-close;
  right: 20%;
  height: @toolbar-h;
  &.sidebar-open {
    left: @sidebar-w-open;
  }
  &.execute {
    left: 0;
    right: 60%;
  }
}

#editors {
  position: absolute;
  top: calc(@toolbar-h * 3);
  left: @sidebar-w-close;
  right: 20%;
  bottom: 0;
  &.sidebar-open {
    left: @sidebar-w-open;
  }
  &.execute {
    left: 0;
    right: 60%;
    bottom: 25%;
  }
}

#registers {
  position: absolute;
  top: calc(@toolbar-h * 2);
  left: 80%;
  width: 20%;
  bottom: 0;
  &.execute {
    left: 40%;
  }
}

#memory {
  position: absolute;
  top: calc(@toolbar-h * 2);
  left: 60%;
  width: 40%;
  bottom: 0;
}

#console {
  position: absolute;
  left: 0;
  height: 25%;
  bottom: 0;
  width: 40%;
}

#sidebar-content {
  position: absolute;
  top: calc(@toolbar-h * 2);
  left: @sidebar-w-close;
  width: @sidebar-w-open - @sidebar-w-close;
  bottom: 0;
}

#popover {
  z-index: 1000;
}

#forms-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
}
