@import "variables.less";

@height-console: 25vh;
@component-transition:
  max-width 0.2s ease,
  width 0.2s ease,
  height 0.2s ease;

#app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#opened-files {
  position: absolute;
  top: @toolbar-h;
  left: 0;
  right: 0;
  height: @toolbar-h;
}

#editors {
  position: absolute;
  top: calc(@toolbar-h * 2);
  left: 0;
  right: 0;
  bottom: 0;
}

#components-container {
  z-index: 10;
  position: absolute;
  top: @toolbar-h;
  left: 0;
  width: 100%;
  height: calc(100% - @toolbar-h);
  display: flex;
  pointer-events: none;
  #console-container {
    pointer-events: none;
    #console {
      pointer-events: auto;
    }
    flex: 1 1 auto;
    min-width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  #memory,
  #registers {
    pointer-events: auto;
    flex: 0 0 auto;
  }
}

#registers {
  transition: @component-transition;
  .col.value,
  .title .long {
    transition: @component-transition;
    overflow: hidden;
    max-width: 100%;
  }
  max-width: 30%;
  &:not(.registers-shown) {
    max-width: 8ch;
    .title .long {
      max-width: 0;
    }
    .cols-names .col.value {
      visibility: hidden;
    }
    .col.value {
      width: 0 !important;
      padding: 0;
    }
    .col.name {
      width: 100% !important;
    }
  }
}

#memory {
  transition: @component-transition;
  max-width: 10%;
  #memorymap-container {
    @mm-width: 10px;
    @padding: 2.5px;
    position: absolute;
    padding: @padding;
    padding-left: 0;
    width: calc(10% + 7px);
    z-index: 2;
    height: calc(100% - @toolbar-h);
    top: @toolbar-h;
    right: 0;
    #memorymap {
      width: @mm-width;
      height: 100%;
      float: right;
    }
    #memorymap-canvas {
      position: absolute;
      top: @padding;
      right: calc(@padding + @mm-width);
      width: calc(100% - @mm-width);
      height: 100%;
    }
  }
  #memory-tables {
    max-width: 0;
    transition: @component-transition;
  }
  position: relative;
  &.memory-shown {
    min-width: 20%;
    max-width: 50%;
    #memory-tables {
      max-width: 70vw;
    }
  }
}

#console {
  position: relative;
  .console {
    transition: @component-transition;
    padding: 0;
    height: 0;
    border: none;
  }
  width: 100%;
  &.console-shown {
    .console {
      border: 12px solid var(--rgb-gray-10);
      border-top: none;
      padding: 12px;
      height: @height-console;
    }
  }
}

#popover {
  z-index: 1000;
}

#forms-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
}
