// Font sizes
@font-family: "Prompt", sans-serif;
@font-size: 14px;
@font-size-small: @font-size - 2px;
@font-size-big: @font-size + 2px;

:root {
  --font-size-dyn: @font-size;
}

// Icons
@icon-hw: 16px;
@icon-margin: 4px;

@app-logo-hw: 24px;
@app-logo-margin: 8px;

@file-icon-hw: 14px;
@file-icon-margin: 4px;

// UI
@toolbar-h: 40px;

@btn-border: 1px solid var(--rgb-gray-9);
@btn-b-radius: 4px;

@height-console: 35vh;
@mem-padding-right: 45px;
@mem-cell-height: 22px;

// last-changed/read memory/registers styles
.last-changed-mixin {
  background-color: var(--rgba-red-20) !important;
}
.last-read-mixin {
  color: var(--rgb-darkgreen) !important;
  font-weight: 500;
}
