<div class="toolbar-1 flex justify-between align-center">
    <div class="flex align-center">
        <div class="icon app-logo flex-center"><%-Icons.render('microchip', { fill: 'url(#gradient)' })%></div>
        <div class="app-name flex-center">MIPSWEB</div>
    </div>
    <div class="flex align-center">
        <div class="buttons">
            <div class="button" onclick="settings();">
                <div class="icon"><%-Icons.render('settings')%></div>
                <div class="text">Settings</div>
            </div>
        </div>
    </div>
</div>
<div class="toolbar-2 flex justify-between align-center">
    <div class="buttons">
        <div class="button" onclick="newFile();">
            <div class="icon"><%-Icons.render('newFile')%></div>
            <div class="text">New file</div>
        </div>
        <div class="button" onclick="importFile();">
            <div class="icon"><%-Icons.render('importFile')%></div>
            <div class="text">Import file</div>
        </div>
    </div>
</div>

<div class="content">
    <div id="files"></div>
    <div id="registers"></div>
    <div id="memory"></div>
</div>